<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-sm-10 col-md-8 col-lg-6">
            <mdb-card>

                <mdb-card-header class="info-color white-text text-center py-4">
                    <h5>
                        <strong>Recuperar Contraseña</strong>
                    </h5>
                </mdb-card-header>


                <!--Card content-->
                <mdb-card-body class="px-lg-5 pt-4">

                    <!-- Form -->
                    <form [formGroup]="formForgot" (ngSubmit)="forgot()" class="text-center" style="color: #757575;" *ngIf="!isSendToken">

                        <app-text-input [formControl]="formForgot.controls['username']" [label]="'Usuario'" [type]="'text'" [controlId]="'username'"></app-text-input>


                        <!-- Sign in button -->
                        <div class="form-row">
                            <div class="col">
                                <button mdbBtn [disabled]="formForgot.invalid" color="primary" outline="true" block="true" class="my-4 btn-rounded" type="submit">Enviar</button>
                            </div>
                            <div class="col">
                                <button mdbBtn color="danger" outline="true" block="true" class="my-4 btn-rounded" type="button" (click)="cancel()">Cancelar</button>
                            </div>
                        </div>

                        <!-- Register -->
                        <p>No sos miembro?
                            <a [routerLink]="['/account/register']">Registrate</a>
                        </p>

                    </form>
                    <div class="text-center" style="color: #757575;">
                        Se envio un correo a su cuenta de email para reestrableces la contraseña.
                    </div>
                    <!-- Form -->

                </mdb-card-body>

            </mdb-card>
        </div>
    </div>
</div>