<div class="container mt-2" *ngIf="class">
    <div class="row">
        <div class="col">
            <h1 class="mb-0 pb-0">Clase {{class.dateOfClass | date : 'dd'}} de {{class.dateOfClass | date : 'MMMM' | titlecase}}</h1>
            <h2 class="mt-0 pt-0"><small> {{class.dateOfClass | date : 'HH:mm'}} HS - Nivel {{class.level}}</small></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <h4><small>
                Instructor: {{class.teacher}}

            </small>
            </h4>

        </div>
        <div class="col-12 col-md-6">
            <h4><small>Duración: {{class.duration}} minutos</small></h4>
        </div>
    </div>
    <ng-container *ngIf="!isClose; else isCloseTemplate">
        <div class="row">
            <div class="col">
                <small>Cupos: </small><span class="badge badge-danger" *ngIf="class.quota <= 0">Agotados</span>
                <span class="badge badge-success" *ngIf="class.quota > 0">{{class.quota}} Disponibles</span>
            </div>
        </div>

        <div class="row">
            <ng-container *appHasRole="['Student']">
                <div class="col col-md-4" *ngIf="class.teacherId != userId">
                    <ng-container *ngIf="!isSubscript; else notSubscriptTemplate">
                        <button mdbBtn color="primary" outline="true" block="false" class="my-4 btn-rounded" type="button" (click)="subscribe()"><mdb-icon fas icon="edit"></mdb-icon> Inscribirme</button>
                    </ng-container>
                    <ng-template #notSubscriptTemplate>
                        <button mdbBtn color="danger" outline="true" block="false" class="my-4 btn-rounded" type="button" (click)="unsubscribe()"><mdb-icon fas icon="times"></mdb-icon> Cancelar Inscripción</button>
                    </ng-template>
                </div>
            </ng-container>
            <div class="col col-md-4">
                <button mdbBtn color="success" outline="true" block="false" class="my-4 btn-rounded" type="button" (click)="goBack()"><mdb-icon fas icon="undo"></mdb-icon> Regresar</button>
            </div>
        </div>

    </ng-container>
    <ng-template #isCloseTemplate>
        <div class="row">
            <div class="col">
                <span class="badge badge-danger p-2">Cerrado</span>
            </div>
            <div class="col">
                <button mdbBtn color="success" outline="true" block="false" class="my-4 btn-rounded" type="button" (click)="goBack()"><mdb-icon fas icon="undo"></mdb-icon> Regresar</button>
            </div>
        </div>
    </ng-template>
</div>

<div class="container-fluid" style="background-color: #333!important;" *ngIf="viewStudents">
    <div class="container p-4">
        <div class="row">
            <div class="col text-white">
                <h4>Inscriptos</h4>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-sm-6 col-md-4 col-lg-3 mb-3 animated fadeIn" *ngFor="let subscription of class.studentsSubscription">
                <div class="card h-100" [class.border-danger]="subscription.isAssist===false" [class.border-primary]="subscription.isAssist">
                    <img [src]="subscription | images : 'avatar'" class="card-img-top img-thumbnail mt-3">
                    <div class="card-body position-relative">
                        <h5 class="card-title text-center text-capitalize">{{subscription.name}}</h5>
                        <ng-container *ngIf="userId==class.teacherId; else noTeacherTemplate">
                            <div class="row">
                                <div class="col-6">
                                    <button mdbTooltip="Asistio" placement="top" mdbBtn [disabled]="subscription.isAssist === true" color="primary" [outline]="subscription.isAssist !== true" block="true" class="btn-rounded mb-1" type="button" (click)="setAsist(true, subscription.studentId )"><mdb-icon fas icon="check"></mdb-icon></button>
                                </div>
                                <div class="col-6">
                                    <button mdbTooltip="No Asistio" placement="top" mdbBtn [disabled]="subscription.isAssist === false" color="danger" [outline]="subscription.isAssist !== false" block="true" class="btn-rounded" type="button" (click)="setAsist(false, subscription.studentId )"><mdb-icon fas icon="times"></mdb-icon></button>
                                </div>
                            </div>
                        </ng-container>
                        <ng-template #noTeacherTemplate>
                            <ng-container *appHasRole="['School','Admin']">
                                <div class="row">
                                    <div class="col-6">
                                        <button mdbTooltip="Asistio" placement="top" mdbBtn [disabled]="subscription.isAssist === true" color="primary" [outline]="subscription.isAssist !== true" block="true" class="btn-rounded mb-1" type="button" (click)="setAsist(true, subscription.studentId )"><mdb-icon fas icon="check"></mdb-icon></button>
                                    </div>
                                    <div class="col-6">
                                        <button mdbTooltip="No Asistio" placement="top" mdbBtn [disabled]="subscription.isAssist === false" color="danger" [outline]="subscription.isAssist !== false" block="true" class="btn-rounded" type="button" (click)="setAsist(false, subscription.studentId )"><mdb-icon fas icon="times"></mdb-icon></button>
                                    </div>
                                </div>
                            </ng-container>
                        </ng-template>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>