<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-sm-10 col-md-8 col-lg-6">
            <mdb-card>

                <mdb-card-header class="info-color white-text text-center py-4">
                    <h5>
                        <strong>Cambiar contraseña</strong>
                    </h5>
                </mdb-card-header>


                <!--Card content-->
                <mdb-card-body class="px-lg-5 pt-4">

                    <!-- Form -->
                    <form [formGroup]="formChange" (ngSubmit)="submit()" class="text-center" style="color: #757575;">

                        <app-text-input [formControl]="formChange.controls['password']" [label]="'Contraseña'" [type]="'password'" [controlId]="'password'"></app-text-input>
                        <app-text-input [formControl]="formChange.controls['newPassword']" [label]="'Nueva Contraseña'" [type]="'password'" [controlId]="'newPassword'"></app-text-input>
                        <app-text-input [formControl]="formChange.controls['rePassword']" [label]="'Reingrese Contraseña'" [type]="'password'" [controlId]="'rePassword'"></app-text-input>

                        <!-- Sign in button -->

                        <div class="form-row">
                            <div class="col">
                                <button mdbBtn [disabled]="formChange.invalid" color="primary" outline="true" block="true" class="my-4 btn-rounded" type="submit">Cambiar</button>
                            </div>
                            <div class="col">
                                <button mdbBtn color="danger" outline="true" block="true" class="my-4 btn-rounded" type="button" (click)="cancel()">Cancelar</button>
                            </div>
                        </div>

                    </form>
                    <!-- Form -->

                </mdb-card-body>

            </mdb-card>
        </div>
    </div>
</div>